input::-webkit-input-placeholder::before {
  color:#666;
  content:"bababababababababa";
}

body {
  background-color: white;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

button {
  padding:0;
  border: none;
}

textarea, select, input, button { outline: none; }

label {
  font-family: 'Roboto', sans-serif;
  font-size: 16pt;
  font-weight: bold;
}

#login_form, #register_form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  min-width: 270px;
  max-width: 500px;
}

#id_username, #id_password, .input_textbox{
  padding: 5px;
  border-image: linear-gradient(to left, #29ABE2 0%, #0000FF 100%);
       border-image-slice: 1;
       border-width: 5px;
  left: 0;
  font-size: 16pt;
  background-color: white;
  width: calc(100% - 20px) ;
  min-width: 250px;
  height: 25pt;
  display: block;
  position: relative;
  color: grey;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

#logo_on, #logo_off, #logo_change {
  align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  margin-top: 150px;
  margin-bottom: 20px;
}

#logo_off, #logo_change:hover #logo_on{
   display:none;
}
#logo_on, #logo_change:hover #logo_off{
   display:block;
}

#login_sub_button, #register_sub_button {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  letter-spacing: 3pt;
  width: 100%;
  min-width: 270px;
  height: calc(20pt + 20px);
  background: linear-gradient(to left, #29ABE2, #0000FF);
  font-size: 12pt;
  color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  margin-top: 20px;
  transition: 1.5s;
}


#login_sub_button:hover, #register_sub_button:hover {
  background: linear-gradient(to left, #0000FF, #29ABE2);
  cursor: pointer;
  letter-spacing: 10pt;
  transition: 1.5s;

}

#login_about_us {
  color:white;
  background: linear-gradient(to left, #29ABE2, #0000FF);
  width: 100%;
  padding: 20px;
  margin-top: 100px;
  padding-bottom: 100px;
}

#login_about_us > h1 {
  position: relative;
  width: 30%;
  left: calc(35% - 20px);
  min-width: 270px;
 font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-align: center;
}

#login_about_us > p {
  position: relative;
  text-align: justify;
  font-family: 'Nunito', sans-serif;
  width: 30%;
  left: calc(35% - 20px);
  min-width: 270px;
}

#login_about_us > img {
  position: relative;
  width: 100px;
  left: calc(50% - 70px);
}



.container > h1 {
  text-align: center;
  display: block;
  color: #3E929C;
  font-style: normal;
}

#register_login_link, #login_register_link {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  text-decoration: none;
  display: block;
  margin: 15px;
  color: black;
}

#register_login_link:hover, #login_register_link:hover {
background: linear-gradient(to left, #29ABE2, #0000FF);
  -webkit-background:  linear-gradient(to left, #29ABE2, #0000FF);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  transition: 0.5s;
}

#user_description, #password1_description, #password2_description {
  position: relative;
  height: 0;
  overflow: visible;
  float: left;
  display: block;
  top: calc(-20pt - 20px);
  left: calc(100% + 20px);
  color: grey;
  opacity: 0;
  transition: 0.5s;
}

#password1_description {
  list-style: none;
  margin: 0;
  padding: 0;

}

#id_username:focus + #user_description{
  display: block;
  opacity: 1;
  float: left;
  width: 100%;
  transition: 1s;
}

#id_password1:focus + #password1_description{
  display: block;
  opacity: 1;
  float: left;
  width: 100%;
  transition: 1s;
}

#id_password2:focus + #password2_description{
  display: block;
  opacity: 1;
  float: left;
  width: 100%;
  transition: 1s;
}
