input::-webkit-input-placeholder::before {
  color:#666;
  content:"bababababababababa";
}

body {
  background-color: white;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

button {
  padding:0;
  border: none;
}

p {
  margin: 0;
  padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

textarea, select, input, button { outline: none; }

label {
  font-family: 'Roboto', sans-serif;
  font-size: 16pt;
  font-weight: bold;
}


/* ++++ MENSAGENS DE ERRO NO LOGIN E RESGISTO +++++ */
.errorlist {
  list-style: none;
  background: linear-gradient(to left, #BD291E, #EB3325);
    -webkit-background:  linear-gradient(to left, #BD291E, #EB3325);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  padding: 0;
  margin: 0;
display: inline-block;
}

#login_form, #register_form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  min-width: 270px;
  max-width: 500px;
}

#id_username, #id_password, .input_textbox{
  padding: 5px;
  border-image: linear-gradient(to left, #29ABE2 0%, #0000FF 100%);
       border-image-slice: 1;
       border-width: 5px;
  left: 0;
  font-size: 16pt;
  background-color: white;
  width: calc(100% - 20px) ;
  min-width: 250px;
  height: 25pt;
  display: block;
  position: relative;
  color: grey;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

#logo_on, #logo_off, #logo_change {
  align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  margin-top: 150px;
  margin-bottom: 50px;
}

#logo_off, #logo_change:hover #logo_on{
   display:none;
}

#logo_on, #logo_change:hover #logo_off{
   display:block;
}

/*++++++++++++++++ DEFUALT BUTTON +++++++++++++ */
#login_sub_button, #register_sub_button, #feed_submit_form > form  > button, #help_submit_button, .default_button {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  letter-spacing: 3pt;
  width: 100%;
  min-width: 270px;
  height: calc(20pt + 20px);
  background: linear-gradient(to left, #29ABE2, #0000FF);
  font-size: 12pt;
  color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  margin-top: 20px;
  transition: 1.5s;
}

#login_sub_button:hover, #register_sub_button:hover, #feed_submit_form > form > button:hover, #help_submit_button:hover, .default_button:hover {
  background: linear-gradient(to left, #0000FF, #29ABE2);
  cursor: pointer;
  letter-spacing: 10pt;
  transition: 1.5s;

}

#login_about_us {
  color:white;
  background: linear-gradient(to left, #29ABE2, #0000FF);
  width: 100%;
  padding: 20px;
  margin-top: 100px;
  padding-bottom: 100px;
}

#login_about_us > h1 {
  position: relative;
  width: 30%;
  left: calc(35% - 20px);
  min-width: 270px;
 font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-align: center;
}

#login_about_us > p {
  position: relative;
  text-align: justify;
  font-family: 'Nunito', sans-serif;
  width: 30%;
  left: calc(35% - 20px);
  min-width: 270px;
}

#login_about_us > img {
  position: relative;
  width: 100px;
  left: calc(50% - 70px);
}

.container > h1 {
  text-align: center;
  display: block;
  color: #3E929C;
  font-style: normal;
}

#login_link{
  margin: 25px 0;
  width: 100%;
}

#register_login_link, #login_register_link, #forgot_password_login_link, #logout_sign_in {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  text-decoration: none;
  display: block;
  margin: 25px;
  color: black;
  margin-bottom: 200px;
}

#register_login_link, #reset_password_link{
  display: inline-block;
  text-align: center;
  width: 40%;
  margin: 0 10px;
  margin-bottom: 20px;
}

#reset_password_link {

  display: inline-block;
  position: relative;
    float: right;
}

/*+++++++++++ DEFAULT LINK TEXT HOVER ++++++++++++ */
#register_login_link:hover, #login_register_link:hover, #reset_password_link:hover, #logout_sign_in:hover, #help_reset_button:hover, .default_text_hover:hover{
  background: linear-gradient(to left, #29ABE2, #0000FF);
  -webkit-background:  linear-gradient(to left, #29ABE2, #0000FF);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  transition: 0.5s;
}

#user_description, #password1_description, #password2_description {
  position: relative;
  height: 0;
  overflow: visible;
  float: left;
  display: block;
  top: calc(-20pt - 20px);
  left: calc(100% + 20px);
  color: grey;
  opacity: 0;
  transition: 0.5s;
}

#password1_description {
  list-style: none;
  margin: 0;
  padding: 0;

}

#id_username:focus + #user_description{
  display: block;
  opacity: 1;
  float: left;
  width: 100%;
  transition: 1s;
}

#id_password1:focus + #password1_description{
  display: block;
  opacity: 1;
  float: left;
  width: 100%;
  transition: 1s;
}

#id_password2:focus + #password2_description{
  display: block;
  opacity: 1;
  float: left;
  width: 100%;
  transition: 1s;
}

#profile_cont {
  width: 100%;
    display: inline-block;
    background: linear-gradient(to right, rgba(0, 0, 255, 0.4), rgba(41, 171, 226, 0.4));
}

#user_profile {
  margin: 50px 25%;
  padding: 50px;
  background: linear-gradient(to left, rgba(0, 0, 255, 0.2), rgba(41, 171, 226, 0.2));
}

#proflie_pic {
  border-radius: 50%;
  width: 30%;
  min-width: 150px;
  max-width: 300px;
  display: inline-block;
  margin-right: 100px;
  margin-bottom: 50px;
  float: left;
}

#user_info {
  position: relative;
  display: inline-block;
  margin: auto;
}

#user_info > p {
  font-size: 24pt;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
}

#user_info > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 18pt;
}

.user_desc{
  font-size: 12pt;
  font-family: 'Nunico', sans-serif;
  font-weight: lighter;
}

.user_fill {
  margin-bottom: 20px;
  padding: 10px;
  font-size: 18pt;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05));
}

#nav_bar {
  background: white;
  height: 154px;
}

#nav_bar_logo {
  margin: 25px 25px;
  height: 100px;
  display: inline-block;
}

#nav_bar > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  float: right;
}

#nav_bar > ul > li{
  display: inline-block;
  font-size: 1.5vw;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  padding-top: calc(126px - 1.5vw);
  padding-bottom: 25px;
  padding-left: 1vw;
  padding-right: 1vw;
  margin: 0px 2vw;
}

#nav_bar > ul > li:not(#nav_bar_link_selected):hover{
  cursor: pointer;
  padding-bottom: 20px;
  border-bottom: solid red;
  border-image: linear-gradient(to left, #29ABE2 0%, #0000FF 100%);
       border-image-slice: 1;
       border-width: 5px;

}

#nav_bar > ul > #nav_bar_link_selected {
  cursor: pointer;
  padding-bottom: 20px;
  border-bottom: solid red;
  border-image: linear-gradient(to left, #29ABE2 0%, #0000FF 100%);
       border-image-slice: 1;
       border-width: 5px;
}

#nav_bar_profile, #nav_bar_search {
display: inline-block;
float: right;
}

#nav_bar_profile {
  margin-right: 50px;
}

#nav_bar_profile > img, #nav_bar_search > img {
  display: inline-block;
  float: right;
  height: 1.5vw;
  width: 1.5vw;
  margin: 0px 2vw;
  margin-top: calc(125px - 1.5vw);
  margin-bottom: 25px;
  cursor: pointer;
}

#nv_profile_card {
  position: absolute;
  top:0;
  right: 0;
  background-color: white;
  opacity: 0;
  transition: top 1s, opacity 1s;
  pointer-events: none;
}

#nv_profile_card > a > img {
  border-radius: 50%;
  height: 150px;
  margin: 25px 75px;
  margin-bottom: 10px;

}

#nv_profile_card > p {
  font-size: 16pt;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  margin-bottom: 5px;
}

#nv_profile_card > p:nth-child(3) {
  font-size: 12pt;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 40px;
}

#nv_profile_card > ul > li, #nv_profile_card > ul > li > a  {
  font-family: 'nunito', sans-serif;
  color: grey;
  font-size: 12pt;
  margin: 2pt 25px;
  text-align: center;
}

#nv_profile_card > ul {
  list-style: none;
  margin-bottom: 25px;
  padding: 0;
}


.nv_profile_links:hover{
  background: linear-gradient(to left, #29ABE2, #0000FF);
    -webkit-background:  linear-gradient(to left, #29ABE2, #0000FF);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    transition: 0.5s;
}



#nv_search_input {
  margin: 0px 5px;
  margin-left: 2vw;
  margin-top: calc(125px - 18pt);
  margin-bottom: 25px;
  font-family: 'nunito', sans-serif;
  font-size: 12pt;
  height: calc(18pt - 6px);
  width: -0px;
  opacity: 0;
    border-image: linear-gradient(to left, #29ABE2 0%, #0000FF 100%);
    border-image-slice: 1;
    border-width: 2px;
  float: right;
  transition: 1s;
}

#nv_search_submit{
  background-color: red;
  margin-top: calc(125px - 18pt);
  margin-bottom: 25px;
  padding: 0;
  height: 18pt;
  width: -0px;
  display: inline-block;
  float: right;
  transition: 1s;
  cursor: pointer;
}

.signed_container{
  background: linear-gradient(to left, rgba(0, 0, 255, 0.05), rgba(41, 171, 226, 0.05));
  padding-bottom: 200px;

}

#feed_submit {
    text-align: center;
    background: linear-gradient(to right, rgba(0, 0, 255, 0.1), rgba(41, 171, 226, 0.1));
    padding: 12pt 0;
    -webkit-user-select: none;  /* Chrome all / Safari all */
 -moz-user-select: none;     /* Firefox all */
 -ms-user-select: none;      /* IE 10+ */
 user-select: none;

}

#feed_submit:hover {
  background: linear-gradient(to left, rgba(0, 0, 255, 0.2), rgba(41, 171, 226, 0.2));
  cursor: pointer;
}


#feed_submit > p:nth-child(1) {
  width: 100%;
  position: relative;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  font-size: 12pt;
}


#feed_submit_form{
  display: none;
  position: relative;
  width: 30%;
  padding: 0 35%;
  padding-bottom: 50px;
  font-family: 'nunito', sans-serif;
  background: linear-gradient(to right, rgba(0, 0, 255, 0.1), rgba(41, 171, 226, 0.1));
}

#feed_submit_form > p > label {
  text-align: left;
}

#id_title, #id_post {
  background-color: white;
  border-image: linear-gradient(to right, #29ABE2 0%, #0000FF 100%);
       border-image-slice: 1;
       border-width: 1px;
  padding: 0;
}

#id_title {
  font-size: 16pt;
  font-weight: bold;
  width: calc(100% - 6px);
}

#id_post {
  width: calc(100% - 6px);
  height: 36pt;
  font-size: 12pt;
  font-weight: light;
}

.feed_post {
  width: 50%;
  margin: auto;
  margin-top: 50px;
  border: solid red 10px;
  padding: 2vw;
  background-color: white;
  border-image: linear-gradient(to right, #29ABE2 0%, #0000FF 100%);
       border-image-slice: 1;
       border-width: 1px;
}

.post_title {
  font-size: 24pt;
  font-family: 'Roboto',sans-serif;
  font-weight: bold;
  margin-bottom: 0;
  background-color: #E0E9F8;
  display: inline-block;
  padding: 5pt;
}

/* +++++ BOTAO DE FAVORITOS NO FEED +++++ */
.fav_off, .fav_on {
  width: 20pt;
  height: 20pt;
  display: inline-block;
  position: relative;
  bottom: 0;
  margin-left: 50px;
}

.fav_off {
  background-color: blue;
}

.fav_on {
  background-color: green;
}

.post_text{
    font-family: 'nunito',sans-serif;
    font-size: 12pt;
    font-weight: lighter;
    width: 80%;
    margin-top: 0;
    background-color: #CEDFE7;
    padding: 10px;
    margin: 12pt 0;
}

.post_user{
  font-family: 'Roboto',sans-serif;
  font-size: 8pt;
  font-weight: bold;
  background-color: #E0E9F8;
  padding: 10px;
}

#redirect_profile:hover {
  background: linear-gradient(to left, #29ABE2, #0000FF);
    -webkit-background:  linear-gradient(to left, #29ABE2, #0000FF);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    transition: 0.5s;
}

centerText{
  text-align: center;
}

/* LOGOUT PAGE */
#logged_out_title {
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  text-align: center;
  font-size: 20pt;
  margin-top: 70px;
}

/* HELP PAGE */
#help_email {
  width: 50%;
  margin: auto;
  margin-top: 25px;
  border: solid red 10px;
  padding: 2vw;
  background-color: white;
  border-image: linear-gradient(to right, #29ABE2 0%, #0000FF 100%);
       border-image-slice: 1;
       border-width: 1px;
}

.page_title {
  margin-top: 48pt;
  text-align: center;
  font-weight: bolder;
  font-family: 'Roboto' sans-serif;
  font-size: 24pt;
}

.page_subtittle {
  margin-top: 12pt;
  text-align: center;
  font-weight: lighter;
  font-size: 12pt;
}

#help_email_input, #help_name_input, #help_message_input{
  width: calc(100% - 10pt);
  font-size: 12pt;
  color: black;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6pt;
  margin-bottom: 12pt;
  border: none;
  background-color: #E0E9F8;
  padding: 5pt;
}

#help_submit_button {
  height: calc(16pt + 20px);
  width: 20%;
  font-size: 10pt;
  border: none;
  margin-bottom: 10pt;
}

#help_reset_button {
  cursor: pointer;
  text-align: center;
  border: none;
  margin: auto;
  display: block;
  font-size: 10pt;
}

.help_form_label {
  font-size: 12pt;
  font-weight: bolder;
  border-bottom: 2px;
  border: red;
}

#reset_password_button {
  font-size: 10pt;
  width: 25%;
}

#id_email {
  padding: 5px;
  border-image: linear-gradient(to left, #29ABE2 0%, #0000FF 100%);
       border-image-slice: 1;
       border-width: 2px;
  left: 0;
  font-size: 12pt;
  background-color: white;
  width: calc(40% - 20px) ;
  min-width: 250px;
  height: 16pt;
  display: block;
  position: relative;
  color: grey;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}
