{% extends 'base_signed.html' %}

  <title>Bookmarks</title>

  {% block body %}
    <div class="container">
        <h1>BookMarks</h1>
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit">Submit</button>
        </form>
    </div>
        {% for marks in data %}
            {{ marks.urlName}}
            <a href={{ marks.url }} id ="redirect_bookmark">
            {{ marks.url }}
            {{ marks.keyword }}
            <br>
        {% endfor %}

  {% endblock %}
