{% extends 'base_signed.html' %}
{% load static %}
{% block head %}
<title>Help</title>
{% endblock %}

{% block body %}
<div class="signed_container" id="help_cont">
  <br>
  <p class="page_title"> Help </p>
  <p class="page_subtittle">  Send e-mail to pl2.es18@gmail.com </p>
  <div id="help_email">
    <form action="mailto:pl2.es18@gmail.com" method="post" enctype="text/plain">
      <p class="help_form_label"> Name <p>
        <input id="help_name_input" type="text" name="name">
        <p class="help_form_label"> E-mail <p>
          <input id="help_email_input" type="text" name="mail">
          <p class="help_form_label"> Message <p>
            <textarea id="help_message_input" type="text" name="Message" rows="10"></textarea>
            <input id="help_submit_button" type="submit" value="SEND">
            <input id="help_reset_button" type="reset" value="Reset">
          </form>
        </div>
      </div>
      {% endblock %}
