{% extends 'base_signed.html' %}

  <title>Logout</title>

{% block body %}


<script type="text/javascript">

window.onload = addClass;

function addClass() {


  document.getElementById("id_email").className = "blue_input";
  document.getElementById("id_description").className = "blue_input";
  document.getElementById("id_city").className = "blue_input";
  document.getElementById("id_website").className = "blue_input";
  document.getElementById("id_scientific_area").className = "blue_input";


  document.querySelector('label[for="id_email"]').innerHTML = "E-mail";
  document.querySelector('label[for="id_description"]').innerHTML = "Description";
  document.querySelector('label[for="id_city"]').innerHTML = "City";
  document.querySelector('label[for="id_website"]').innerHTML = "Website"
  document.querySelector('label[for="id_scientific_area"]').innerHTML = "Research Interests";
  document.querySelector('label[for="id_email"]').className = "help_form_label";
  document.querySelector('label[for="id_description"]').className = "help_form_label";
  document.querySelector('label[for="id_city"]').className = "help_form_label";
  document.querySelector('label[for="id_website"]').className = "help_form_label";
  document.querySelector('label[for="id_scientific_area"]').className = "help_form_label";



  }
</script>
  <div class="signed_container">
    <br>

      <p class="page_title">Edit Profile</p>
      <div id="profile_edit" class="page_white_cont">
      <form method="post">
        {% csrf_token %}
        {{ formUser.as_p }}
        {{ formProfile.as_p }}
        <button class="default_button" id="profile_sub_button" type="submit">Submit</button>
      </form>
    </div>
  </div>
{% endblock %}
