{% extends 'base_signed.html' %}
{% load static %}
{% block head %}
    <title>Profile</title>
{% endblock %}

{% block body %}
<div id="profile_cont">


  <div id="user_profile">
    <img id="proflie_pic" src="{% static 'profile_pic_placeholder.jpg' %}">
    <div id="user_info">
      <p>{{ user.first_name }}  {{ user.last_name }} Place Holder </p>
      <ul>
        <li class="user_desc"> Username</li>
        <li class="user_fill">{{ user }} </li>
        <li class="user_desc"> Research Interests</li>
        <li class="user_fill">{{ user.userprofile.scientific_area }} Antropology, Biology, Chemistry </li>
        <li class="user_desc"> ORCID</li>
        <li class="user_fill">{{ user.ORCID }} 219i42240 </li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
