{% extends 'base.html' %}

{% block body %}
<div class="rp_container">
    <p class="page_title" style="margin-bottom: 24pt">Enter new password</p>
    <p>

    </p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="default_button" id="reset_password_complete_button" type="submit">Reset password</button>
    </form>
</div>

<script type="text/javascript">
document.querySelector('label[for="id_new_password1"]').innerHTML = "New Password";
document.querySelector('label[for="id_new_password2"]').innerHTML = "Repeat New Password";
document.querySelector("#id_new_password1").className ="input_textbox_small";
document.querySelector("#id_new_password2").className ="input_textbox_small";

document.querySelector("form > ul").id ="rp_complete_info";
var rp_info = document.querySelector("form > ul");

document.querySelector("#id_new_password1").nextElementSibling.appendChild(rp_info);

</script>
{% endblock %}
