{% extends 'base_signed.html' %}
{% load static %}
{% block head %}
   <title>Profile</title>
{% endblock %}
\
{% block body %}
<div class="signed_container">
  <br>
  <div class="feed_post">
  {% for post in posts %}
  <div class="post_title">
  	<p> {{ post.title}} </p>
  </div>
  <div class="post_text">
  	<p> {{post.post}} </p>
  </div>
  {% endfor%}

  {% for user in users %}
    <div class="post_text">
  	<p> {{ user.username}} </p>
  	<p> {{ user.first_name }} </p>
  </div>
  {% endfor%}
</div>
</div>
{% endblock %}
