{% extends 'base_signed.html' %}

{% block body %}

  <div class="signed_container">
    <br>
  {% for post in user.userprofile.favorites.all %}
    <div class="feed_post">
      <div class="post_title">
        <span>
          {{post.title}}
        </span>
        <a href="{% url 'accounts:favoriteTwitter' '1' user.get_username post.idpost post.title post.created_at post.post %}">
          <div class="fav_on"> </div>
        </a>
      </div>
      <div class="post_text">
        <a href="https://twitter.com/{{post.title}}/status/{{post.idpost}}" target="_blank">
          <p> {{ post.post }} <p>
        </a>
      </div>
    </div>
  {% endfor %}
  </div>


<script type="text/javascript">
  //PUTS THE UNDER BORDER UNDER THE FEED LINK IN THE NAV BAR
  document.querySelector("#nav_bar_links > li:nth-child(3)").id = "nav_bar_link_selected";
</script>
{% endblock %}
