
{% extends 'base_signed.html' %}

{% block body %}


<div class="signed_container">
 <div id="feed_submit">
    <p> SUBMIT NEW </p>
  </div>
  <div id="feed_submit_form">
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">POST</button>
    </form>
  </div>

  <div class = "row">
    <div class = "column1">
      <p>Pesquisas Twitter</p>
      {% for seartweet in posts %}
        {% if seartweet.check == 0 %}
          <div>
            <input type="checkbox" name="feature" value="{{seartweet.name}}" onClick='handleClick(this);'/> {{seartweet.name}}
          </div>
        {% else %}
          <div>
            <input type="checkbox" name="feature" value="{{seartweet.name}}" checked onClick='handleClick(this);'/> {{seartweet.name}}
          </div>
        {% endif %}
      {% endfor %}

      <input id="tweet_search_add"  type="text" placeholder="Add new Search Tweet" value="">
      <button onClick="oi()">
        Send
      </button>

    </div>
    <div class = "column2">
      {% for tweet in tweets %}
        {% if tweet.lang == 'en' or tweet.lang == 'pt' %}
          <div class="feed_post">
            <div class="post_title">
              <span>
                {{tweet.user.name}}
              </span>
              {% if tweet in user.userprofile.favorites.all %}
              <a href="{% url 'accounts:favoriteTwitter' '2' user.get_username tweet.id tweet.screen_name|slugify tweet.created_at tweet.all_text|slugify %}">
                <div class="fav_on"> </div>
              </a>
              {% else %}
              <a href="{% url 'accounts:favoriteTwitter' '2' user.get_username tweet.id tweet.screen_name|slugify tweet.created_at tweet.all_text|slugify %}">
                <div class="fav_off"> </div>
              </a>
              {% endif %}
            </div>
            <div class="post_text">
              <a href="https://twitter.com/{{tweet.screen_name}}/status/{{tweet.id}}" target="_blank">
                <p>{{tweet.lang}}</p>
                <p>{{tweet.created_at}}</p>
              	<p>{{tweet.all_text}}</p>
              </a>
            </div>
          </div>
        {% endif %}
      {% endfor%}
    </div>
  </div>

</div>


<script type="text/javascript">
  //PUTS THE UNDER BORDER UNDER THE FEED LINK IN THE NAV BAR
  document.querySelector("#nav_bar_links > li:nth-child(1)").id = "nav_bar_link_selected";

  document.getElementById("feed_submit").addEventListener("click", RevealSubmit);

  var checker_submit = true;

  function RevealSubmit() {
  //  console.log(checker_submit);
    if(checker_submit){
      document.getElementById("feed_submit_form").style.display = "inline-block";
      checker_submit = false;
    } else {
      document.getElementById("feed_submit_form").style.display = "none";
      checker_submit = true;
    }
  }

  function oi() {
    var input = document.getElementById("tweet_search_add").value;
    window.location.href = "../../accounts/add_tweets_search/" + input + "/{{user.get_username}}";
  }

  function handleClick(cb) {

    window.location.href = "../../accounts/change_check_tweet/" + cb.value + "/{{user.get_username}}/" + cb.checked;
    //print("Clicked, new value = " + cb.checked);
  }
</script>

{% endblock %}
