
{% extends 'base_signed.html' %}

{% block body %}

<div id="filters_container" class="page_white_cont">
  <p class="page_subtittle default_text_hover">Feed Filters</p>
  <div id="filters_collapse">
    <div id = "filters_twitter">
      <p>Twitter Hashtags</p>
      {% for seartweet in posts %}
      {% if seartweet.check == 0 %}
      <div class="checkbox_cont">
        <input type="checkbox" name="feature" value="{{seartweet.name}}" onClick='handleClick(this);'/> {{seartweet.name}}
        <span class="checkmark"></span>
      </div>
      {% else %}
      <div class="checkbox_cont">
        <input type="checkbox" name="feature" value="{{seartweet.name}}" checked onClick='handleClick(this);'/> {{seartweet.name}}
        <span class="checkmark"></span>
      </div>
      {% endif %}
      {% endfor %}

      <input id="tweet_search_add"  type="text" placeholder="Add new Search Tweet" value="">
      <button class="default_text_hover" onClick="oi()">
        Send
      </button>

    </div>
    <div id="sign_reddit">
      <a href="loginReddit">Login on Reddit to see Reddit posts</a>
    </div>
  </div>
</div>


<div class="signed_container">
  {% if user.userprofile.Twitter_SignedIn%}
  <div id="feed_submit">
    <p> POST ON TWITTER </p>
  </div>
  <div id="feed_submit_form">
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">POST</button>
    </form>
  </div>
  {% else %}
  <div id="feed_submit">
    <a href="{% url 'accounts:TwitterSignIn' user.get_username %}">SIGN IN ON TWITTER TO POST</a>
  </div>
  {% endif %}

  <div class = "row">

    <div class = "column2">
      {% for tweet in tweets %}
      {% if tweet.lang == 'en' or tweet.lang == 'pt' %}
      <div class="feed_post">
        <div class="post_title">
          <span>
            {{tweet.user.name}}
          </span>
          {% if tweet in user.userprofile.favorites.all %}
          <a href="{% url 'accounts:favoriteTwitter' '2' user.get_username tweet.id tweet.screen_name|slugify tweet.created_at tweet.all_text|slugify %}">
            <i class="fa fa-star fav_on" aria-hidden="true"></i>
          </a>
          {% else %}
          <a href="{% url 'accounts:favoriteTwitter' '2' user.get_username tweet.id tweet.screen_name|slugify tweet.created_at tweet.all_text|slugify %}">
            <i class="fa fa-star fav_off" aria-hidden="true"></i>
          </a>
          {% endif %}
        </div>
        <div class="post_text">
          <a href="https://twitter.com/{{tweet.screen_name}}/status/{{tweet.id}}" target="_blank">
            <p>{{tweet.lang}}</p>
            <p>{{tweet.created_at}}</p>
            <p>{{tweet.all_text}}</p>
          </a>
        </div>
      </div>
      {% endif %}
      {% endfor%}
    </div>
  </div>
  {% if loggedReddit %}
  <p>Your Subreddits:<p><br>
  {% for subreddits in Subreddits %}
  <p>{{subreddits.display_name}}</p><br>
  {% endfor %}
  {% for submissions in RedditPosts %}
  <div class="feed_post_reddit">
    <div class="post_title_reddit">
      <a title="Original Post" class="default_text_hover" href="https://www.reddit.com{{ submissions.permalink}}" target="_blank">  {{submissions.title}}</a>
    </div>
    <div class="post_text_reddit">
    {{submissions.selftext}}
    <script>
    var t='{{submissions.url}}';
    if(t.match(/\.(jpeg|jpg|gif|png|gifv)$/)!=null){
      document.write("<img style='max-width: 600px' src='{{submissions.url}}'>");
    }
    </script>
    </div>
    <div class="post_user_reddit">
    <!-- <a class="default_text_hover" href="https://www.reddit.com{{ submissions.permalink}}" target="_blank"> www.reddit.com{{ submissions.permalink}}</a>-->
   Posted by <a class="default_text_hover" href="https://www.reddit.com/user/{{ submissions.author }}" target="_blank">{{ submissions.author }}</a> in <a class="default_text_hover" href="https://www.reddit.com/r/{{ submissions.subreddit}}" target="_blank">/r/{{ submissions.subreddit}}</a>
    </div>


  </div>
    {% endfor %}
  {% else %}
      <!-- Login to show reddit posts!!! -->
  {% endif %}
</div>


<script type="text/javascript">
  //PUTS THE UNDER BORDER UNDER THE FEED LINK IN THE NAV BAR
  document.querySelector("#nav_bar_links > li:nth-child(2)").id = "nav_bar_link_selected";
  document.getElementById("feed_submit").addEventListener("click", RevealSubmit);
  document.querySelector("#filters_container > p").addEventListener("click", RevealFilters);

  var ff = true;

  function RevealFilters() {
    if(ff) {
      document.querySelector("#filters_twitter > p").style.marginTop = "10px";
      document.getElementById("filters_collapse").style.pointerEvents = "all";
      document.getElementById("filters_collapse").style.maxHeight = "6000px";
      document.getElementById("filters_collapse").style.opacity = "1";
      ff = false;
    } else {
            document.querySelector("#filters_twitter > p").style.marginTop = "0px";
      document.getElementById("filters_collapse").style.pointerEvents = "none";
      document.getElementById("filters_collapse").style.maxHeight = "0";
      document.getElementById("filters_collapse").style.opacity = "0";
      ff = true;
    }
  }

  var checker_submit = true;

  function RevealSubmit() {
  //  console.log(checker_submit);
    if(checker_submit){
      document.getElementById("feed_submit_form").style.display = "inline-block";
      checker_submit = false;
    } else {
      document.getElementById("feed_submit_form").style.display = "none";
      checker_submit = true;
    }
  }

  function oi() {
    var input = document.getElementById("tweet_search_add").value;
    window.location.href = "../../accounts/add_tweets_search/" + input + "/{{user.get_username}}";
  }

  function handleClick(cb) {
    window.location.href = "../../accounts/change_check_tweet/" + cb.value + "/{{user.get_username}}/" + cb.checked;
    //print("Clicked, new value = " + cb.checked);
  }
</script>

{% endblock %}
