<!DOCTYPE html>

{% load static %}
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Nunito|Roboto" rel="stylesheet">
</head>
<body>
  <header>
    <div id="nav_bar">
      <img id="nav_bar_logo" src="{% static 'logo2.png' %}">
        <div id="nav_bar_profile">
            <img src="{% static 'profile_icon_black.png' %}">
          <div id="nv_profile_card">
            <img id="nv_profile_pic" src="{% static 'profile_pic_placeholder.jpg' %}">
            <p>{{ user.first_name }}  {{ user.last_name }} </p>
            <p> {{ user }} </p>
            <ul>
              <li><a href="{% url 'accounts:profile' user.get_username %}">View Profile</a></li>
              <li>Edit Profile</li>
              <li>Need Help?</li>
              <li><a href="{% url 'accounts:login' %}" onclick="return confirm('Are you sure you want to Logout?')">Logout</a></li>
            </ul>
          </div>
        </div>

        <div id="nav_bar_search">
          <img src="{% static 'search_icon_black.png' %}"> 
        </div>

        <input id="nv_search_input" type="text" placeholder="Search.." value="">
        
        <button onclick="oi()" type="submit"> button </button>
        <script type="text/javascript">
          function oi() {

            var input = document.getElementById("nv_search_input").value;
            alert(input)
            window.location.href = "../../accounts/search/" + input;
            
          } 
        </script>
        <ul id="nav_bar_links">
          <li><a href="{% url 'feed:mainpage' %}">feed</a></li>
          <li>favorites</li>
          <li>inbox</li>
        </ul>

      </div>
  </header>
  {% block body %}
  BASE
  {% endblock %}

<script type="text/javascript">
  document.getElementById("nav_bar_profile").addEventListener("click", RevealProfile);
  document.getElementById("nav_bar_search").addEventListener("click", RevealSearchBar);
  document.querySelector("#nav_bar_profile > img").addEventListener("mouseover", changeProfileLogo);
  document.querySelector("#nav_bar_profile > img").addEventListener("mouseleave", changeProfileLogo);
  document.querySelector("#nav_bar_profile > img").addEventListener("click", changeProfileLogo);
  document.querySelector("#nav_bar_search > img").addEventListener("mouseover", changeSearchLogo);
  document.querySelector("#nav_bar_search > img").addEventListener("mouseleave", changeSearchLogo);
  document.querySelector("#nav_bar_search > img").addEventListener("click", changeSearchLogo);


  var checker = true;
  var checker_s = true;
  var checker_c_s = true;
  var checker_c_p = true;


  function RevealProfile() {
    if(checker){
      document.getElementById("nv_profile_card").style.right = "0px";
      document.getElementById("nv_profile_card").style.opacity = "1";
      checker = false;
    } else {
      document.getElementById("nv_profile_card").style.right = "-1000px";
      document.getElementById("nv_profile_card").style.opacity = "0";
      checker = true;
    }
  }
  function RevealSearchBar() {
    if(checker_s){
      document.getElementById("nv_search_input").style.width = "150px";
      document.getElementById("nv_search_input").style.opacity = "1";
      checker_s = false;
    } else {
      document.getElementById("nv_search_input").style.width = "0px";
      document.getElementById("nv_search_input").style.opacity = "0";
      checker_s = true;
    }
  }
  function changeProfileLogo() {
    if(checker_c_s){
      document.querySelector("#nav_bar_profile > img").src="{% static 'profile_icon.png' %}";
      checker_c_s = false;
    } else {
        document.querySelector("#nav_bar_profile > img").src="{% static 'profile_icon_black.png' %}";
      checker_c_s = true;
    }
  }
  function changeSearchLogo() {
    if(checker_c_p){
      document.querySelector("#nav_bar_search > img").src="{% static 'search_icon.png' %}";
      checker_c_p = false;
    } else {
        document.querySelector("#nav_bar_search > img").src="{% static 'search_icon_black.png' %}";
      checker_c_p = true;
    }
  }
</script>


</body>

</html>
