<!DOCTYPE html>

{% load static %}
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Nunito|Roboto" rel="stylesheet">
</head>
<body>
  <header>
    <div id="nav_bar">
        <img id="nav_bar_logo" src="{% static 'logo2.png' %}">

        <div id="nav_bar_profile">
            <img src="{% static 'profile_icon.png' %}">
          <div id="nv_profile_card">
            <img id="nv_profile_pic" src="{% static 'profile_pic_placeholder.jpg' %}">
            <p>{{ user.first_name }}  {{ user.last_name }} Place Holder </p>
            <p> {{ user }} </p>
            <ul>
              <li>Edit Profile</li>
              <li>Need Help?</li>
              <li>>Logout</a></li>
            </ul>
          </div>
        </div>

        <div id="nav_bar_search">
          <img src="{% static 'search_icon.png' %}">
        </div>

        <input id="nv_search_input" type="text" placeholder="Search..">

        <ul id="nav_bar_links">
          <li><a href="{% url 'feed:mainpage' %}">feed</a></li>
          <li>favorites</li>
          <li>inbox</li>
        </ul>

      </div>
  </header>
  {% block body %}
  BASE
  {% endblock %}

<script type="text/javascript">

  document.getElementById("nav_bar_profile").addEventListener("click", RevealProfile);
  document.getElementById("nav_bar_search").addEventListener("click", RevealSearchBar);

  var checker = true;
  var checker_s = true;

  function RevealProfile() {
    if(checker){
      document.getElementById("nv_profile_card").style.right = "0px";
      document.getElementById("nv_profile_card").style.opacity = "1";
      checker = false;
    } else {
      document.getElementById("nv_profile_card").style.right = "-1000px";
      document.getElementById("nv_profile_card").style.opacity = "0";
      checker = true;
    }
  }

  function RevealSearchBar() {
    if(checker_s){
      document.getElementById("nv_search_input").style.width = "150px";
      document.getElementById("nv_search_input").style.opacity = "1";
      checker_s = false;
    } else {
      document.getElementById("nv_search_input").style.width = "0px";
      document.getElementById("nv_search_input").style.opacity = "0";
      checker_s = true;
    }
  }



</script>


</body>

</html>
